body,
html {
  background: #f0f0f0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page {
  background-image: url('grid.png');
  background-repeat: repeat;
  line-height: 20px;
  /* min-height: 100px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: text;
  /* width: 600px; */
  display: grid;
  /* grid-template-columns: repeat(30, 20px); */
  grid-auto-rows: minmax(20px, min-content);
}

.block {
  display: inline-block;
  outline: 1px solid red;
  /* vertical-align: top; */
  /* position: relative; */
}

#block-1 {
  background-color: #f00;
  width: 100px;
}

#block-2 {
  background-color: #0f0;
  /* display: block; */
  width: 300px;
}

#block-3 {
  background: salmon;
  width: 200px;
}

#block-4 {
  width: 200px;
}
