@font-face {
  font-family: 'Notes Sans';
  src: url('@/app/util/fonts/notesans.otf') format('opentype');
}

@font-face {
  font-family: 'Note York';
  src: url('@/app/util/fonts/Note York-Demo.ttf') format('truetype');
}

@font-face {
  font-family: 'Evoley';
  src: url('@/app/util/fonts/EvoleyNotes.ttf') format('truetype');
}

@font-face {
  font-family: 'Notes Booky';
  src: url('@/app/util/fonts/Notes booky.otf') format('opentype');
}

@font-face {
  font-family: 'By Note';
  src: url('@/app/util/fonts/By Note.ttf') format('truetype');
}

@font-face {
  font-family: 'Sugar Recipe';
  src: url('@/app/util/fonts/SugarRecipe.otf') format('opentype');
}

@font-face {
  font-family: 'Alpa Renote';
  src: url('@/app/util/fonts/AlpaRenoteDEMO.otf') format('opentype');
}

@font-face {
  font-family: 'Passing Notes';
  src: url('@/app/util/fonts/Passing Notes.ttf') format('truetype');
}
