@font-face {
  font-family: 'Notes Sans';
  src: url('/notesans.otf') format('opentype');
}

@font-face {
  font-family: 'Note York';
  src: url('/Note York-Demo.ttf') format('truetype');
}

@font-face {
  font-family: 'Evoley';
  src: url('/EvoleyNotes.ttf') format('truetype');
}

@font-face {
  font-family: 'Notes Booky';
  src: url('/Notes booky.otf') format('opentype');
}

@font-face {
  font-family: 'By Note';
  src: url('/By Note.ttf') format('truetype');
}

@font-face {
  font-family: 'Sugar Recipe';
  src: url('/SugarRecipe.otf') format('opentype');
}

@font-face {
  font-family: 'Alpa Renote';
  src: url('/AlpaRenoteDEMO.otf') format('opentype');
}

@font-face {
  font-family: 'Passing Notes';
  src: url('/Passing Notes.ttf') format('truetype');
}
